<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Pralie Dutzel">
      <%= gettext("Page Not Found") %>
    </.live_title>

    <link rel="icon" href={~p"/favicon.ico"} sizes="32x32" />
    <link rel="icon" href={~p"/images/favicon.svg"} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={~p"/images/apple-touch-icon.png"} />
    <link rel="manifest" href={~p"/images/manifest.webmanifest"} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />

    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>

  <body>
    <.skip_link /> <.header />
    <main id="main" tabindex="-1">
      <.hero>
        <:title><%= gettext("Page Not Found") %></:title>
      </.hero>

      <div class="container container--size-md container--gutters center-text">
        <p>
          <%= gettext("The page you requested could not be found. Try one of these instead:") %>
        </p>

        <div class="link-group margin-top-xl">
          <.link href={~p"/"} class="link">
            <%= gettext("Home") %>
          </.link>
          <span role="presentation">//</span>
          <.link href={~p"/about"} class="link">
            <%= gettext("About") %>
          </.link>
          <span role="presentation">//</span>
          <.link href={~p"/case-studies"} class="link">
            <%= gettext("Case studies") %>
          </.link>
        </div>
      </div>
    </main>
    <.footer />
  </body>
</html>
